# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
.output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
